version: '3.9'

services:
  mongo:
      image: mongo
      restart: unless-stopped
      environment:
        MONGO_INITDB_ROOT_USERNAME: root
        MONGO_INITDB_ROOT_PASSWORD: example
      # ports:
      #   - 27017:27017
  mongo-express:
    image: mongo-express
    restart: unless-stopped
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
  nginx:
      image: nginx:1.17
      volumes:
        - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
        - 80:80
      depends_on:
        - backend
        - frontend
  backend:
    build: back-end
    command: python app/main.py
    volumes:
      - ./back-end:/app/:cached
      - ./.docker/.ipython:/root/.ipython:cached
    environment:
      PYTHONPATH: .
  frontend: 
    build: front-end
    volumes:
      - './front-end:/app:cached'
      - './front-end/node_modules:/app/node_modules:cached'
    environment:
      - NODE_ENV=development